h1{
    color:rgb(201, 106, 150) ;text-align: left;
    
}
body{
    background-color: rgb(243, 240, 235);
    margin: 20px;
    
}
.input {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    caret-color: rgb(196, 62, 21);
    background-color: rgb(218, 193, 193);
    border-radius: 30px;
    padding-left: 15px;
    letter-spacing: 0.8px;
    color: rgb(19, 19, 19);
    font-size: 13.4px;
    position: absolute;
    bottom: 86%;
    left: 43%;
  }
  .login-btn, .favorite-btn {
    background-color: #b67294;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .login-btn:hover, .favorite-btn:hover {
    background-color: #492c49;
  }
  
  .fa {
    margin-right: 5px; 
  }
  .login-btn{
    position: absolute;
    bottom: 88%;
    left: 88%;
  }
  .favorite-btn {
    position: absolute;
    bottom: 88%;
    left: 80%;
  }
  .social-icon {
    width: 76px; 
    height: auto;
    margin-right: 20px;
    border-style: solid solid solid solid;
   border-color: #f39cc8;
  
  }
  .s1{
     position: absolute;
    bottom: 20%;
    left: 36%;
  }
.p1{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 28px;
    color:#74375fbb;
    text-align: center; 
    background-color: #ddd0d9bb;
    line-height: 70px;
    
}
.p2{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 28px;
    color:#74375fbb;
    text-align: center; 
    background-color: #ddd0d9bb;
    line-height: 70px;
    border-style:solid solid solid solid ;
    border-color:rgb(119, 73, 105) ;
}
.footer {
    background-color: #ddd0d9bb; 
    color: #74375fbb;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
  }
  
  .footer p {
    margin: 0;
  }
